[submodule "submodules/obra-superpowers"]
	path = submodules/obra-superpowers
	url = git@github.com:obra/superpowers.git
[submodule "submodules/mattpocock-skills"]
	path = submodules/mattpocock-skills
	url = git@github.com:mattpocock/skills.git
[submodule "submodules/github-spec-kit"]
	path = submodules/github-spec-kit
	url = git@github.com:github/spec-kit.git
[submodule "submodules/swm8023-skills"]
	path = submodules/swm8023-skills
	url = git@github.com:swm8023/skills.git
